<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guardanis.alarms">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <receiver
            android:name=".DailyAlarmKillMediaPlaybackReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="alarm.service.KILL_MEDIA_PLAYBACK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DailyAlarmWakeUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="alarm.service.WAKE_UP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
